@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

header {
  min-width: 99vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto !important;
  float: none !important;
}


/* image gallery CSS */
.image-gallery {
    height: 100% !important;
    width: 100% !important
  }

.image-gallery-content {
    height: 100% !important;
    width: 100% !important
}

.image-gallery-slide-wrapper {
  height: calc(100% - 100px) !important;
  width: 100% !important
}

.image-gallery-swipe {
  height: 100% !important;
  width: 100% !important
}

.image-gallery-slides {
  width: 100% !important;
  height: 100% !important;
} 

.image-gallery-slide {
    width: 100% !important;
    height: 100% !important;
}
  
.image-gallery-slide img {
    display: inline-block;
    max-height: 100% !important;
    max-width: 100% !important;
    object-fit: fill !important;
    width: 400px !important;
    height: 400px !important;
}
